<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PartitionAlloc Example</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>PartitionAlloc Example</h1>
    <button id="start-button">Start Blink Object Allocation</button>
    <div id="output"></div>
    <script src="/js/partitionalloc.js"></script>
</body>
</html>

