<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQLite Example</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>SQLite Example</h1>
    <h2><Not Functional</h2>
    <button id="start-button">Start SQLite Operations</button>
    <div id="output"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sql.js/1.6.2/sql-wasm.js"></script>
    <script src="/js/sqlite.js"></script>
</body>
</html>

